https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv')

In [4]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [5]:
df.shape

(400, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [7]:
df.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [8]:
df['Purchase Iphone'].value_counts()

0    257
1    143
Name: Purchase Iphone, dtype: int64

In [9]:
df.Gender.value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [10]:
df.loc[df['Purchase Iphone']==1,'Gender'].value_counts()

Female    77
Male      66
Name: Gender, dtype: int64

In [11]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [12]:
# Label encoding

from sklearn.preprocessing import LabelEncoder

In [13]:
enc = LabelEncoder()

In [16]:
x.Gender = enc.fit_transform(x.Gender)

In [17]:
x

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [18]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  400 non-null    int64
 1   Age     400 non-null    int64
 2   Salary  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [19]:
# Feature scaling
scale = StandardScaler()
x = scale.fit_transform(x)

In [20]:
x

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [21]:
knn = KNeighborsClassifier(n_neighbors=7)

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [24]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [25]:
y_pred = knn.predict(x_test)

In [26]:
confusion_matrix(y_test,y_pred)

array([[50,  6],
       [ 3, 21]], dtype=int64)

In [27]:
accuracy = (50+21)/(50+6+3+21)

In [28]:
accuracy

0.8875

In [29]:
lis = [i for i in range(2,101) if i%2!=0]

In [30]:
lis

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [33]:
from sklearn.metrics import accuracy_score
dic ={}
for i in lis:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred = knn.predict(x_test)
    acc = accuracy_score(y_test,y_pred)
    dic[i]= acc

In [35]:
dic

{3: 0.875,
 5: 0.8875,
 7: 0.8875,
 9: 0.875,
 11: 0.8875,
 13: 0.8875,
 15: 0.8875,
 17: 0.8875,
 19: 0.875,
 21: 0.875,
 23: 0.875,
 25: 0.875,
 27: 0.875,
 29: 0.8875,
 31: 0.875,
 33: 0.8875,
 35: 0.8875,
 37: 0.875,
 39: 0.8625,
 41: 0.8625,
 43: 0.8625,
 45: 0.825,
 47: 0.825,
 49: 0.825,
 51: 0.825,
 53: 0.825,
 55: 0.8,
 57: 0.8,
 59: 0.8,
 61: 0.8,
 63: 0.8,
 65: 0.8,
 67: 0.8,
 69: 0.8,
 71: 0.7875,
 73: 0.8,
 75: 0.8,
 77: 0.7875,
 79: 0.8,
 81: 0.8,
 83: 0.8,
 85: 0.8,
 87: 0.8,
 89: 0.8,
 91: 0.7875,
 93: 0.7875,
 95: 0.7875,
 97: 0.7875,
 99: 0.775}